/* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden;
  background-color:#ff6600;
  padding: 90px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo */
#navbar #logo {
  font-family: "Lucida Handwriting";
  color: #ffff99;
  font-size: 40px;
  font-weight: bold;
  transition: 0.4s;
  margin-left: 40px;
}

/* Links on mouse-over */
#navbar-right a:hover {
  background-color:#ffb84d;
  color: black;
}

/* Style the active/current link */
#navbar a.active {
  background-color:#990033;
  color: white;
}

/* Display some links to the right */
#navbar-right {
  float: right;
  margin-right: 100px;
  margin-top: 5px;
  width: 40%;
  font-family: "Georgia";
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a, .dropdown-toggle{
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
#title {
  float: none;
  padding: 50px;
  position: bottom-left;
  font-family: "Georgia";
  font-size: 20px; 
  width: 40%;
  color: #ffffe6;
  text-align: left;
  position: absolute;
}

i {
padding: 8px;
}

#search-button {
  background-color: #ffb84d !important;
  border-color: #ffff99 !important;
}
#search-button:hover {
  background-color: #ff6600 !important;
}
#search {
  margin-top: 80px;
  margin-left: 808px;
  width: 20%;
  padding-top: 0px;
  clear: none;
}
.dropdown-item {
  height: 30px !important;
  padding: 5px !important;
  text-align: left !important;
  font-style: italic;
}
.container-md{
  padding: 20px;
  margin-top: 250px;
  width: 1200px;
}
.border {
  border-radius: 5px;
}

header {
  background-color: #990033;
}
.carousel-caption{
  background-color: #ffb84d !important;
  height: 300px;
  opacity: 0.9;
  border-radius: 10px;
}
.btn-secondary{
  background-color:#990033 !important;
  width: 30%;
  padding: 10px;
  font-family: "Lucida Handwriting" !important;
  font-size: 27px !important;
  font-weight: bolder;
}
.caption {
  padding: 20px;
  font-family: "Georgia";
  color: #990033;
  font-size: 20px;
  opacity: 1 !important;
  font-weight: bold;
}
.img-description {
  padding: 18px;
  font-family: "Georgia";
  color: black;
  font-size: 20px;
  opacity: 1 !important;
  font-weight: lighter;
  font-style: italic;
}
#progetto {
  background-color: #ffb84d;
  text-align: center;
  font-family: "Lucida Handwriting" !important;
  font-size: 28px;
  font-weight: bolder;
  color: #990033;
  padding: 10px;
}
#progetto .col-5 {
  padding: 10px;
}
#desc-progetto {
  text-align: justify;
  font-family: "Georgia";
  font-size: 18px;
  font-weight: lighter;
  color: black;
  line-height: 150%;
  padding-left: 20px;
}
#explore-button {
  padding: 10px !important;
  background-color: #990033 !important;
  border-color: #ffff99 !important;
  float: none;
  font-family: "Georgia";
  font-size: 15px;
  width: 50%;
}
#explore-button:hover {
background-color:#ffb84d !important;
}
#view {
  background-color: #ffffcc;
}
.container-fluid h2 {
  padding: 20px;
  font-family: "Lucida Handwriting";
  font-size: 25px;
  font-weight: bold;
  color: #990033;
  text-align: center;
}
#view .col-6 {
  padding top: 10px;
  text-align: center;
  padding-left: 50px;
}
.cards {
  background-color:#990033 !important;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-position: absolute;
}

#percorsi {
  color: white !important;
}
.card-title {
  font-family: "Lucida Handwriting";
}
.card-body {
  font-family: "Georgia";
  font-size: 18px;
  text-align: justify;
  padding: 20px;
  padding-top: 50px;
  line-height: 120%;
}
.card {
  width: 90%;
}
#footer {
  background-color: #ff6600 !important;
}


